<!DOCTYPE html>
<html>

<head>
    <title>Newstable</title>
    <style>
        body {
            font-family: 'Ubuntu', sans-serif;
        }
        
        .carousel {
            margin: 0 auto;
            overflow: hidden;
            text-align: center;
        }
        
        .slides {
            width: 100%;
            height: 80vh;
            display: flex;
            overflow-x: scroll;
            scrollbar-width: none;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
        }
        
        .slides::-webkit-scrollbar {
            display: none;
        }
        
        .slides-item {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            justify-content: center;
            margin: 0 1rem;
            position: relative;
            scroll-snap-align: start;
            transform: scale(1);
            transform-origin: center center;
            transition: transform .5s;
            width: 100%;
            text-align: left;
            font-size: 200%;
            line-height: 150%;
            padding: 20px;
            box-sizing: border-box;
        }
        
        .carousel__nav {
            padding: 1.25rem .5rem;
        }
        
        .slider-nav {
            align-items: center;
            background-color: #ddd;
            border-radius: 30%;
            color: #000;
            display: inline-flex;
            height: 1.5rem;
            justify-content: center;
            padding: 1rem;
            position: relative;
            text-decoration: none;
            width: 2rem;
            font-size: 1.5rem;
        }
        
        .slider-nav:hover,
        .slider-nav:active {
            background-color: #000;
            color: #fff;
        }
    </style>
</head>

<body>
    <section class="carousel" aria-label="carousel">
        <div class="slides">
            {{ range .feeds }}
            <div class="slides-item" id="{{ .ID }}" aria-label="{{ .Title }}">
                <h3>{{ .Title }}</h3>
                <p><em>Last Fetch: {{ .LastFetch | humanizeTimestamp }}</em></p>
                <ul>
                    {{ range .Items }}
                    <li>
                        <a href="{{ .Link }}" title="{{ .Description }}">{{ .Title }}</a>
                        <em>{{ .Timestamp | humanizeTimestamp }}</em>
                    </li>
                    {{ end}}
                </ul>
            </div>
            {{ end }}
        </div>
        <div class="carousel__nav">
            {{ range .feeds }}
            <a class="slider-nav" href="#{{ .ID }}" aria-label="Go to {{ .Title }}">{{ .ID }}</a> {{ end }}
        </div>
    </section>
</body>

</html>